# Dependências
node_modules/
package-lock.json
npm-debug.log
yarn-debug.log
yarn-error.log

# Ambiente
.env
.env.local
.env.*.local

# Logs
logs
*.log

# Uploads
public/uploads/*
!public/uploads/.gitkeep

# Sistema
.DS_Store
Thumbs.db

# IDEs e editores
.idea/
.vscode/
*.swp
*.swo
*~

# Build
dist/
build/

# Arquivos do MongoDB
data/

.qodo
